.box-component {
  position: relative;
  border: 1px solid var(--box-border-color);
  overflow: hidden;
}

.box-content {
  position: relative;
  z-index: 0;
  height: 100%;
  min-width: 0;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  box-sizing: border-box;
  background-color: #a7dbef;
  display: flex;
  flex-direction: column;
}

.box-header {
  background-color: rgb(187, 90, 21);
  display: flex;
  align-items: center;
  justify-content: center; /* Change back to center */
  position: absolute;
  font-size: 20px;
  color: yellow;
  letter-spacing: -1px;
  text-shadow:
    -1px -1px 1px black,
     1px -1px 1px black,
    -1px  1px 1px black,
     1px  1px 1px black;
  top: 0;
  left: 0;
  right: 0;
  flex-shrink: 0;
  padding: 0 20px;
 box-sizing: border-box;
 z-index: 20; /* Ensure header is above scrolling content */
}

.box-header-border-top {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--box-border-color);
}

.box-header-border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--box-border-color);
}

.box-children-wrapper {
  padding: 0px; /* Default smaller padding for mobile */
  flex-grow: 1;
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding-top: calc(var(--header-height, 0px)); /* Adjusted top padding for mobile */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  /*scroll-padding-top: 100px !important; /* Offset for all scrollIntoView */
}

.box-children-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}


.box-component::before,
.box-component::after,
.box-content::before,
.box-content::after {
  content: '';
  position: absolute;
  width: 44px;
  height: 38px;
  background-image: url('/corner_decor.webp');
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  z-index: 1;
}

.box-component::before {
  top: -1px;
  left: -1px;
}

.box-component::after {
  top: -1px;
  right: -1px;
  transform: scaleX(-1);
}

.box-content::before {
  bottom: -1px;
  left: -1px;
  transform: scaleY(-1);
}

.box-content::after {
  bottom: -1px;
  right: -1px;
  transform: scale(-1, -1);
}

.header-center-content {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between title and button */
}

.alt-burger-button-wrapper {
  display: flex;
  align-items: center;
}

.alt-burger-button {
  /* No special styles needed now */
}

.alt-burger-button:hover {
  filter: brightness(1.2);
}
