



/* New styles for name plate */
.namePlate {
  background-color: #2e2e1f; /* Dark muted blue */
  color: #ff0;
  padding: 2px 0px;
  min-height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 2px solid #c4b059; /* Subtle border */
  text-shadow: 1px 1px 0 #000; /* Pixel-contrast shadow */
  overflow: hidden;
  text-overflow: ellipsis;
}
.nameText {
  line-height: 1.15;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-word;
  color: rgb(255, 255, 255); /* Bright yellow text */

  text-shadow:
  -1px -1px 0 black,
   1px -1px 0 black,
  -1px  1px 0 black,
   1px  1px 0 black,
   0   -1px 0 black,
   0    1px 0 black,
  -1px  0   0 black,
   1px  0   0 black;}

