.pixelBackground {
  background-image: url('/background.webp');
  background-repeat: repeat;
  image-rendering: pixelated;
}

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skillName {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #ddd;
}
